@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,50;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./font.css";

:root {
  --color1: #1cb0f6;
  --color2: #ffc800;
  --color3: #e5e5e5;
  --color4: #ff4b4b;
  --color5: #afafaf;
  --ring: #0084f0;

  /* =================
* FONTS *
=================*/
  --font-title: "Rubik", cursive;
  --font-subtitle: "Poppins", cursive;
  --font-body: "DINRoundPro", sans-serif;
  --font-banner: "Josefin Sans", cursive;
  --font-logo: "Rammetto One", cursive;
  --font-code: "Fira Code", monospace;
}

.font-title {
  font-family: var(--font-title);
  font-weight: bolder;
}
.font-subtitle {
  font-family: var(--font-subtitle);
  font-weight: bolder;
}

* {
  font-family: var(--font-body);
}
.container__duolingo {
  padding-left: 1rem;
  padding-right: 2rem;
}

nav {
  zoom: 0.8;
}
.container__card {
  zoom: 0.5;
}
table {
  border: 1px solid var(--color5);
  border-color: var(--color5) !important;
  border-collapse: separate !important;
  border-left: 0;
  border-radius: 12px;
  border-spacing: 0px;
  margin: 1rem;
}
thead {
  vertical-align: middle;
  border-collapse: separate;
  background-color: var(--color3);
}

th,
td {
  padding: 10px 6px;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid var(--color5);
  border-bottom: 1px solid var(--color5);
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 12px 0 0 0;
}
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
  border-bottom: none;
}
tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 12px 0;
  border-bottom: none;
}
thead:first-child tr:last-child th:last-child {
  border-radius: 0 12px 0 0;
}

/**/
.flip-card {
  background-color: transparent;
  width: 15rem;
  height: 15rem;
  perspective: 1000px;
  margin: 1rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size:1.5rem;
  padding:0.5rem;
}

.flip-card-front {
  background-color: var(--color1);
  border: 6px solid var(--color2);
  box-shadow: 6px 6px var(--color1);
  color: white;
}

.flip-card-back {
  background-color: var(--color2);
  border: 6px solid var(--color1);
  box-shadow: 6px 6px var(--color2);
  color: black;
  transform: rotateY(180deg);
  display: fkex;
  flex-direction: column;
}
/**/

@media (min-width: 285px) {
  nav {
    zoom: 0.8;
  }
  .container__card {
    zoom: 0.65;
  }
}
@media (min-width: 360px) {
  nav {
    zoom: 0.9;
  }
  .container__card {
    zoom: 0.8;
  }
}

@media (min-width: 450px) {
  nav {
    zoom: 1;
  }
  .container__card {
    zoom: 1;
  }
}
/**MD**/
@media (min-width: 768px) {
  .subitem:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 15.5em;
    border: 0.75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem var(--color5));
  }
}
/**LG**/
@media (min-width: 1024px) {
  .container__duolingo {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
/**XL**/
@media (min-width: 1280px) {
  .container__duolingo {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
/**2XL**/
@media (min-width: 1536px) {
  .container__duolingo {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
